<h1 class="text-center">
    Medium Code Highlight
</h1>
<p class="text-center">
    Add highlighted code to Medium articles without embed.
    <br>
    <small>An alternative to Github gist embed and carbon screenshots.</small>
</p>
<p class="text-center">
    <a class="text-center" href="https://medium.com/web-developer/how-to-add-code-highlight-in-medium-without-embedding-bdeb4fd573c9">
        Medium - How to add code highlight in Medium without embedding
    </a>
</p>


<div class="font-web">
    <p class="text-center">
        <a class="text-md" href="https://github.com/kevincobain2000/medium-code-highlight">
            <i class="fa fa-code"></i>
            Github
        </a>
        <br>
    </p>
    <br>
</div>